@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply m-0 p-0;
}

button{
  @apply focus:border-0 focus:outline-none border-0 bg-transparent;
}

body {
  @apply text-gray-500
  
}



.progressBar {
  width: 200px;
  height: 20px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  background-color: #4caf50;
  border-radius: 10px;
}


